{% extends "layout.html" %}
{% block content %}
<div class="main-container">
    <div class="about">
        <h2>The Developer</h2>
        <p class="about-body"> Hi! I'm Valentine, an aspiring software developer in London.</p>
        <p class="about-body">I've spent the last 4 years studying Software Development with Open University and
            whilst I have 2 years until I'm fully graduated, I've taken up the challenge of putting my abilities
            into practice by building projects with technologies that I'm interested in. </p>
        <p class="about-body">You can find all of my social links in the footer below, consider following me on
            this journey!</p>
        <h2>The Project</h2>
        <p class="about-body">Shortn is built using Python 3.x, Flask, Postgres, SQLAlchemy, HTML, CSS and
            JavaScript.</p>
        <p class="about-body">This is my first publicly deployed and usable project, I wanted to produce a
            project
            that I had an interest in and that would allow me to utilise a wide range of skills.</p>
    </div>
</div>
{% endblock %}