{% extends "layout.html" %}
{% block content %}
<div class="main-container">
    <div class="input-container">
        <input type="text" name="original-url" id="input" title="enter your url here!" placeholder="Enter your URL">
        <button type="submit" id="url-input">
            shortn!
        </button>
        <input type="text" id="new-url" placeholder="Your short URL will be here!" />
        <button type="button" id="copy-url">
            grab it
        </button>
    </div>
</div>
{% endblock %}