<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Shortn - Free URL Shortener</title>
</head>

<body>
    <header class="main-header">
        <img class="logo-main" src="/static/img/shortn-logo-main.svg" alt="shortn logo" />
    </header>
    <div class="main-container">
        <div class="input-container">
            <form action="{{ url_for('success') }}" method="POST" class="input-form">
                <input type="text" name="original-url" id="input" title="Enter your URL here!"
                    placeholder="Enter your URL to be Shortned!">
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="socials">footer stuff</div>
    </footer>
</body>

</html>